<form>
    <div class="row" >
        <div class = "col-sm-4"></div>
        <div class = "col-sm-4">
            <div class = "row" style="height: 100%;">
            </div>
            <div class = "row" style="height: 50%;">
                <div class = "col-sm-4">
                </div>
                <div class = "col-sm-4">
                 <p style="font-size:40px;"><b>Login</b></p>   
                </div>
                <div class = "col-sm-4">
                </div>

            </div>
            <div class = "row">                                  
                <label for="UserName">User Name *</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" formControlName= "username" placeholder="Enter UserName">
            </div>
            <div class = "row">              
                <label for="Password">Password *</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" formControlName= "Password" placeholder="Enter Password">
            </div>
            <div class = "row" style="height: 10%;">
            </div>
            <div class = "row">            
             
                <div class = "col-sm-6">                   
                    <a routerLink="../register" class="btn btn-link">Register</a>               
                </div>
                <div class = "col-sm-6">
                    <button type="button" class="btn btn-info" style="float: right">Login</button>   
                </div>               
            </div> 
        </div>
        <div class = "col-sm-4"></div>
    </div>
</form>