<!-- <form>
    <div class="row" >
        <div class = "col-sm-4"></div>
        <div class = "col-sm-4">
            <div class = "row" style="height: 100%;">
            </div>
            <div class = "row" style="height: 50%;">
                <div class = "col-sm-4">
                </div>
                <div class = "col-sm-4">
                 <p style="font-size:40px;"><b>Login</b></p>   
                </div>
                <div class = "col-sm-4">
                </div>

            </div>
            <div class = "row">                                  
                <label for="UserName">User Name *</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" formControlName= "username" placeholder="Enter UserName">
            </div>
            <div class = "row">              
                <label for="Password">Password *</label>
                <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" formControlName= "Password" placeholder="Enter Password">
            </div>
            <div class = "row" style="height: 10%;">
            </div>
            <div class = "row">            
             
                <div class = "col-sm-6">                   
                    <a routerLink="../register" class="btn btn-link">Register</a>               
                </div>
                <div class = "col-sm-6">
                    <button type="button" class="btn btn-info" style="float: right" (click)="Login()">Login</button>   
                </div>               
            </div> 
        </div>
        <div class = "col-sm-4"></div>
    </div>
</form> -->
<div class="container"> 
    <div class="blackshadow">  
        <h4 style="text-align: center;padding: bottom 10px;">Log in to your account</h4>
        <form [formGroup] ="loginForm" autocomplete="off" class="form-horizontal">
          <div class="form-group">
            <label for="email">User Name:</label>
            <input type="username" class="form-control" id="username" placeholder="Enter user name" formControlName="userName">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password">
          </div>
           <button type="submit" class="btn btn-outline-success my-2 my-sm-0 btn-block" [disabled]= "!loginForm.valid" (click) = "onLogin()">Log In</button>   
           <div class="alert alert-info alert-dismissible fade show"  *ngIf = "errorMessage !=''" style="margin-top: 10px;margin-bottom: -1rem !important">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{errorMessage}}
          </div>         
        </form>                
      </div>
    <div class="newreg"> 
      <h6>Don't have an account?</h6>         
      <button type="submit" style="margin-left: 40%" class="btn btn-outline-success" (click) = "onRegister()">Sign Up</button>   
    </div>   

</div>